body{
    width: 100%;
    height: 100%;
    background-color: rgb(164, 164, 164);
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#main-container{
    background-color: rgb(130, 130, 130);
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
    max-width: 55%;
}
#first-part{
    min-width: 35%;
    max-height: 400px;
}
#second-part{
    display: flex;
    flex-direction: column;
    padding:1%;
    width: 20%;
    border-left: 2px solid black;
}
.elem-container{
    margin: 10%;
}
span{
    margin:3%;
}
.editBtn{
    margin:3%;
}
.input-block{
    display: block;
    text-align: center;
}